<?xml version="1.0"?>

<model>
  <name>robot</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sushanth Jayanth(sushanthj)</name>
    <email>sushanth.jayanth@gmail.com</email>
  </author>

  <description>
    Acorn Robot for GPS Waypoint Follower Demo
  </description>
</model>
